{% extends 'admin/index.html.twig' %}

{% block title %}Edit ContratHabitat{% endblock %}

{% block profile %}
<div class="section-title">
        <h2>Modifier un nouveau contrat d'assurance vehicule</h2>
     </div>
     <div class="container">
                 <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                     <div class="row">

                                 </div>
                            <div class="col-md-7">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <h5 class="card-title">Formulaire</h5>

{{ form_start(form, {'attr': {'class': 'row g-3 needs-validation', 'novalidate': 'novalidate', 'style': 'max-width: 400px;'}}) }}
{% if form_errors(form) %}

            <div class="alert alert-danger">
                <ul>
                    {% for error in form_errors(form) %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}



    <div class="col-6">
            <label for="Date_debut" class="form-label">Date debut du contrat</label>
            {{ form_widget(form.Date_debut, {'attr': {'class': 'form-control', 'id': 'Date_debut'}}) }}
            {% if form_errors(form.Date_debut) %}
                       <div class="alert alert-danger">
                           {{ form_errors(form.Date_debut) }}
                       </div>
            {% endif %}
        </div>
        <div class="col-6">
                <label for="Date_fin" class="form-label">Date fin du contrat</label>
                {{ form_widget(form.Date_fin, {'attr': {'class': 'form-control', 'id': 'Modele'}}) }}
                {% if form_errors(form.Date_fin) %}
                                                        <div class="alert alert-danger">
                                                            {{ form_errors(form.Date_fin) }}
                                                        </div>
                                                    {% endif %}
            </div>
     <div class="col-12">
             <label for="Description" class="form-label">Détail du contrat</label>
             {{ form_widget(form.Description, {'attr': {'class': 'form-control', 'id': 'Description'}}) }}
             {% if form_errors(form.Description) %}
                                                     <div class="alert alert-danger">
                                                         {{ form_errors(form.Description) }}
                                                     </div>
                                                 {% endif %}
         </div>
    <div class="col-12">
            <label for="MatriculeAgent" class="form-label">Matricule de l'agent</label>
            {{ form_widget(form.MatriculeAgent, {'attr': {'class': 'form-control', 'id': 'MatriculeAgent'}}) }}
            {% if form_errors(form.MatriculeAgent) %}
                                                    <div class="alert alert-danger">
                                                        {{ form_errors(form.MatriculeAgent) }}
                                                    </div>
                                                {% endif %}
        </div>



    <div class="col-12">

    <button class="btn btn-primary w-100">{{ button_label|default('Update') }}</button>
    </div>
        <div class="col-12">
    <a href="{{ path('app_contrat_habitat_index') }}" class="btn btn-primary w-100">back to list</a>

    </div>


{{ form_end(form) }}
</div>
                        </div>
                    </div>
    <a href="{{ path('app_contrat_habitat_index') }}">back to list</a>

    {{ include('contrat_habitat/_delete_form.html.twig') }}
{% endblock %}
