{% block title %}ContratVie{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contrat Vie</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #333;
            text-align: center;
        }
        .section {
            margin-bottom: 30px;
        }
        .section-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .section-content {
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Contrat d'Assurance habitat</h1>

        <div class="section">
            <div class="section-title">Informations générales :</div>
            <div class="section-content">
                <p><strong>Numéro de contrat :</strong> {{ contrat_habitat.id }}</p>
                <p><strong>Date de début :</strong> {{ contrat_habitat.DateDebut ? contrat_habitat.DateDebut|date('Y-m-d') : '' }}</p>
                <p><strong>Date de fin :</strong> {{ contrat_habitat.DateFin ? contrat_habitat.DateFin|date('Y-m-d') : '' }}</p>
            </div>
        </div>

        <div class="section">
            <div class="section-title">Description :</div>
            <div class="section-content">
                <p>{{ contrat_habitat.Description }}</p>
            </div>
        </div>

        <div class="section">
            <div class="section-title">Matricule Agent :</div>
            <div class="section-content">
                <p>{{ contrat_habitat.MatriculeAgent }}</p>
            </div>
        </div>
         <div class="section">
                    <div class="section-title">Prix :</div>
                    <div class="section-content">
                        <p>{{ contrat_habitat.Prix }}</p>
                    </div>
                </div>

    </div>
</body>
</html>
{% endblock %}
