{% extends 'baseback.html.twig' %}

{% block title %}Commentaire {% endblock %}

{% block content1 %}
<center>
    <div class="container">
        <h1 class="card-title">Commentaires</h1>

            <table id="commentTable" class="table table-hover align-content-md-center">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Commentaires</th>
                    <th>Note</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for comment in comments %}
                    <tr>
                        <td>{{ comment.id }}</td>
                        <td>{{ comment.description }}</td>
                        <td>{{ comment.rate }}</td>
                        <td>
                            <div class="comment-links">
                                <div><a class="btn-warning btn btn-info btn-sm" href="{{ path('app_comment_show', {'id': comment.id}) }}">Voir Plus</a></div>
                                <div><a class="btn-primary btn btn-info btn-sm" href="{{ path('app_comment_edit', {'id': comment.id}) }}">Modifier</a></div>
                                {{ include('comment/_delete_form.html.twig') }}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {# Pagination #}
{#    <nav aria-label="Page navigation">#}
{#        <ul class="pagination justify-content-center">#}
{#            <li class="page-item"><a class="page-link" href="{{ path('app_comment_index') }}">Previous</a></li>#}
{#            <li class="page-item"><a class="page-link" href="{{ path('app_comment_index') }}">1</a></li>#}
{#            <li class="page-item"><a class="page-link" href="{{ path('app_comment_index') }}">2</a></li>#}
{#            <li class="page-item"><a class="page-link" href="{{ path('app_comment_index') }}">3</a></li>#}
{#            <li class="page-item"><a class="page-link" href="{{ path('app_comment_index') }}">Next</a></li>#}
{#        </ul>#}
{#    </nav>#}

    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#commentTable').DataTable({
                searching: true,
                paging: true,
                ordering: true,
                info: true,
                columns: [
                    null, // ID column
                    { searchable: true }, // Description column
                    { searchable: true }, // Rate column
                    null // Actions column (no searching)
                ]
            });
        });
    </script>
</center>

{% endblock %}

