{% extends 'admin/index.html.twig' %}

{% block title %}ServiceProperty{% endblock %}

{% block profile %}
    <h1>ServiceProperty</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service_property.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ service_property.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ service_property.price }}</td>
            </tr>
        </tbody>
    </table>

<a class="btn btn-secondary" href="{{ path('app_question_show',{'id': id}) }}">Back to List</a>

    <a class="btn btn-info" href="{{ path('app_service_property_edit', {'id': service_property.id}) }}">edit</a>

    {{ include('service_property/_delete_form.html.twig') }}
{% endblock %}
