{% extends 'admin/index.html.twig' %}

{% block title %}Medical sheets {% endblock %}

{% block profile %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endfor %}
    <h1>Liste des Feuilles Médicales</h1>

    <table class="table">
        <thead>
        <tr>

            <th>Diagnostic Médical</th>
            <th>Plan de Traitement</th>
            <th>Rapports Médicaux</th>
            <th>Durée d'Incapacité</th>
            <th>Procédure Effectuée</th>
            <th>Durée du Congé Maladie</th>
            <th>Période d'Hospitalisation</th>
            <th>Période de Rééducation</th>
            <th>Informations Médicales</th>
            <th>Nom du Client</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for medical_sheet in medical_sheets %}
            <tr>

                <td>{{ medical_sheet.medicalDiagnosis }}</td>
                <td>{{ medical_sheet.treatmentPlan }}</td>
                <td>{{ medical_sheet.medicalReports }}</td>
                <td>{{ medical_sheet.durationOfIncapacity }}</td>
                <td>{{ medical_sheet.procedurePerformed }}</td>
                <td>{{ medical_sheet.sickLeaveDuration }}</td>
                <td>{{ medical_sheet.hospitalizationPeriod }}</td>
                <td>{{ medical_sheet.rehabilitationPeriod }}</td>
                <td>{{ medical_sheet.medicalInformation }}</td>
                <td>{{ medical_sheet.userCIN }}</td>
                <td>
                    <a href="{{ path('app_medical_sheet_show_dashboard', {'id': medical_sheet.id}) }}">Voir</a> |
                    <a href="{{ path('app_medical_sheet_edit', {'id': medical_sheet.id}) }}">Modifier</a> |
                    {{ include('medical_sheet/_delete_form.html.twig', {'id': medical_sheet.id}) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Aucune feuille médicale trouvée.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin') }}">Retour au tableau de bord administrateur</a>

{% endblock %}
