{% extends 'admin/index.html.twig' %}

{% block profile %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
                <div class="col-md-6">
                    {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'name'}}) }}
                    {{ form_errors(form.name) }}
                </div>
                <br>
                <div class="col-md-6">
                    {{ form_widget(form.price, {'attr': {'class': 'form-control', 'placeholder': 'price'}}) }}
                    {{ form_errors(form.price) }}
                </div>
                <br>
                <div class="col-md-12">
                    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
                <a class="btn btn-secondary" href="{{ path('app_question_show',{'id': id}) }}">Back to List</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
