<header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="{{ path('Home_Page') }}">Protechtini</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="{{ path('Home_Page') }}">Home</a></li>
          <li><a class="nav-link scrollto" href="{{ path('Home_Page') }}">Nos services</a></li>
          <li><a class="nav-link scrollto" href="{{ path('Home_Page') }}"> Demandes</a></li>
          <li><a class="nav-link scrollto " href="{{ path('Home_Page') }}">Actualité</a></li>
          <li class="dropdown"><a href="#"><span>Assurance</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Assurance vehicule</a></li>
              <li><a href="#">Assurance vie</a></li>
              <li><a href="#">Assurance habitat</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="{{ path('Home_Page') }}">Contact</a></li>
          <li><a class="getstarted scrollto" href="{{ path('Home_Page') }}"> <l>Log In</l></a></li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
<body>
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">

  </section>



</main>
</body>



  <!-- End Header -->
