{% extends 'base.html.twig' %}

{% block title %}Quote index{% endblock %}

{% block body %}
<div style="margin-top:150px">
    <h1>Quote index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Amount</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quote in quotes %}
            <tr>
                <td>{{ quote.id }}</td>
                <td>{{ quote.type }}</td>
                <td>{{ quote.amount }}</td>
                <td>
                    <a class="btn btn-success mt3" href="{{ path('app_quote_show', {'id': quote.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success mt3" href="{{ path('app_quote_new') }}">Create new</a>
</div>
{% endblock %}
