
{% extends 'base.html.twig'%}
{% block title %}SinisterVehicle index{% endblock %}

{% block body %}
<div class="d-flex" >
<div class="col-md-12">
    <h1>Mes sinistres véhicules</h1>

        <table class="table table-bordered table-hover" >
        <thead class="table-secondary">
            <tr>
                
                <th>DateSinister</th>
                <th>Location</th>
                <th>status</th>
                <th>actions</th>
            </tr>
        </thead>
        
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {{ message|raw }}
                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endfor %}
        <tbody>
        {% for sinister_vehicle in sinister_vehicle %}
            <tr>
                <td>{{ sinister_vehicle.dateSinister ? sinister_vehicle.dateSinister|date('Y-m-d') : '' }}</td>
                <td>{{ sinister_vehicle.location }}</td>
                <td>{{sinister_vehicle.StatusSinister }}</td>
              
                <td>
                    <a class="btn btn-success mt3" href="{{ path('app_constat_show', {'id': sinister_vehicle.id}) }}">show</a>
                  
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="23">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</div>
</div>
{% endblock %}