<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>ProTechTini</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{{asset('FrontOffice/img/favicon.png')}}" rel="icon">
    <link href="{{asset('FrontOffice/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{asset('FrontOffice/vendor/aos/aos.css')}}" rel="stylesheet">
    <link href="{{asset('FrontOffice/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('FrontOffice/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
    <link href="{{asset('FrontOffice/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
    <link href="{{asset('FrontOffice/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
    <link href="{{asset('FrontOffice/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{asset('FrontOffice/css/style.css')}}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Techie
    * Updated: Jan 29 2024 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/techie-free-skin-bootstrap-3/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet">
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="{{ path('client') }}">ProtechTini</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!--<a href="{{ path('client') }}" class="logo"><img src="{{ asset('FrontOffice/img/favicon.png') }}" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="{{ path('app_client') }}">Acceuil</a></li>
                <li><a class="nav-link scrollto" href="#services">Demande devis en ligne</a></li>
                <li><a class="nav-link scrollto " href="{{ path('app_client') }}">Actualités</a></li>
                <li><a class="nav-link scrollto" href="#team">Team</a></li>
                <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#">Drop Down 1</a></li>
                        <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Drop Down 2</a></li>
                        <li><a href="#">Drop Down 3</a></li>
                        <li><a href="#">Drop Down 4</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>

</header><!-- End Header -->
<!-- Flashy depends on jQuery -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Load Flashy default JavaScript -->
<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
<!-- Include Flashy default partial -->
{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
{%block article %}

{%endblock%}










{#<!-- ======= Frequently Asked Questions Section ======= -->#}
{#<section id="faq" class="faq">#}
{#    <div class="container" data-aos="fade-up">#}

{#        <div class="section-title">#}
{#            <h2>Frequently Asked Questions</h2>#}
{#            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>#}
{#        </div>#}

{#        <div class="faq-list">#}
{#            <ul>#}
{#                <li data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">#}
{#                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Non consectetur a erat nam at lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>#}
{#                    <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">#}
{#                        <p>#}
{#                            Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.#}
{#                        </p>#}
{#                    </div>#}
{#                </li>#}

{#                <li data-aos="fade-up" data-aos-delay="200">#}
{#                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Feugiat scelerisque varius morbi enim nunc? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>#}
{#                    <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">#}
{#                        <p>#}
{#                            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.#}
{#                        </p>#}
{#                    </div>#}
{#                </li>#}

{#                <li data-aos="fade-up" data-aos-delay="300">#}
{#                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Dolor sit amet consectetur adipiscing elit? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>#}
{#                    <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">#}
{#                        <p>#}
{#                            Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis#}
{#                        </p>#}
{#                    </div>#}
{#                </li>#}

{#                <li data-aos="fade-up" data-aos-delay="400">#}
{#                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>#}
{#                    <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">#}
{#                        <p>#}
{#                            Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in.#}
{#                        </p>#}
{#                    </div>#}
{#                </li>#}

{#                <li data-aos="fade-up" data-aos-delay="500">#}
{#                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>#}
{#                    <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">#}
{#                        <p>#}
{#                            Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque.#}
{#                        </p>#}
{#                    </div>#}
{#                </li>#}

{#            </ul>#}
{#        </div>#}

{#    </div>#}
{#</section><!-- End Frequently Asked Questions Section -->#}

<!-- ======= Contact Section ======= -->
{#<section id="contact" class="contact section-bg">#}
{#    <div class="container" data-aos="fade-up">#}

{#        <div class="section-title">#}
{#            <h2>Contact</h2>#}
{#            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>#}
{#        </div>#}

{#        <div class="row">#}
{#            <div class="col-lg-6">#}
{#                <div class="info-box mb-4">#}
{#                    <i class="bx bx-map"></i>#}
{#                    <h3>Our Address</h3>#}
{#                    <p>A108 Adam Street, New York, NY 535022</p>#}
{#                </div>#}
{#            </div>#}

{#            <div class="col-lg-3 col-md-6">#}
{#                <div class="info-box  mb-4">#}
{#                    <i class="bx bx-envelope"></i>#}
{#                    <h3>Email Us</h3>#}
{#                    <p>contact@example.com</p>#}
{#                </div>#}
{#            </div>#}

{#            <div class="col-lg-3 col-md-6">#}
{#                <div class="info-box  mb-4">#}
{#                    <i class="bx bx-phone-call"></i>#}
{#                    <h3>Call Us</h3>#}
{#                    <p>+1 5589 55488 55</p>#}
{#                </div>#}
{#            </div>#}

{#        </div>#}

{#        <div class="row">#}

{#            <div class="col-lg-6 ">#}
{#                <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>#}
{#            </div>#}

{#            <div class="col-lg-6">#}
{#                <form action="forms/contact.php" method="post" role="form" class="php-email-form">#}
{#                    <div class="row">#}
{#                        <div class="col-md-6 form-group">#}
{#                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>#}
{#                        </div>#}
{#                        <div class="col-md-6 form-group mt-3 mt-md-0">#}
{#                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="form-group mt-3">#}
{#                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>#}
{#                    </div>#}
{#                    <div class="form-group mt-3">#}
{#                        <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>#}
{#                    </div>#}
{#                    <div class="my-3">#}
{#                        <div class="loading">Loading</div>#}
{#                        <div class="error-message"></div>#}
{#                        <div class="sent-message">Your message has been sent. Thank you!</div>#}
{#                    </div>#}
{#                    <div class="text-center"><button type="submit">Send Message</button></div>#}
{#                </form>#}
{#            </div>#}

{#        </div>#}

{#    </div>#}
{#</section><!-- End Contact Section -->#}

{#</main><!-- End #main -->#}

<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Techie</h3>
                    <p>
                        A108 Adam Street <br>
                        New York, NY 535022<br>
                        United States <br><br>
                        <strong>Phone:</strong> +1 5589 55488 55<br>
                        <strong>Email:</strong> info@example.com<br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Join Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="container">

        <div class="copyright-wrap d-md-flex py-4">
            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>Techie</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/techie-free-skin-bootstrap-3/ -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>

    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="{{asset('FrontOffice/vendor/purecounter/purecounter_vanilla.js')}}"></script>
<script src="{{asset('FrontOffice/vendor/aos/aos.js')}}"></script>
<script src="{{asset('FrontOffice/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{asset('FrontOffice/vendor/glightbox/js/glightbox.min.js')}}"></script>
<script src="{{asset('FrontOffice/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
<script src="{{asset('FrontOffice/vendor/swiper/swiper-bundle.min.js')}}"></script>
<script src="{{asset('FrontOffice/vendor/php-email-form/validate.js')}}"></script>


<!-- Template Main JS File -->
<script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
<script src="{{asset('FrontOffice/js/main.js')}}"></script>
<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
<script src="//code.jquery.com/jquery.js"></script>
{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
</body>

</html>