<body>
  <main>
    <div class="container">
<!-- Add this script tag to include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
<div class="card mb-3">

                <div class="card-body">


{{ form_start(form, {'attr': {'class': 'row g-3 needs-validation', 'novalidate': 'novalidate', 'enctype': 'multipart/form-data'}}) }}
            {% if form_errors(form) %}

            <div class="alert alert-danger">
                <ul>
                    {% for error in form_errors(form) %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
   <div class="col-12">
              
                <h2>Informations à propos l'accident</h2>
                              <label for="dateSinister" class="form-label">Date Sinister</label>
              {{ form_widget(form.dateSinister) }}
              {% if form_errors(form.dateSinister) %}
                <div class="alert alert-danger">
                  {{ form_errors(form.dateSinister) }}
                </div>
              {% endif %}
                  <div class="col-12">
                <label for="location" class="form-label">Location</label>
                {{ form_widget(form.location, {'attr': {'class': 'form-control', 'id': 'location'}}) }}
                                {% if form_errors(form.location) %}
                       <div class="alert alert-danger">
                           {{ form_errors(form.location) }}
                       </div>
            {% endif %}
                               <div class="col-12">
                <label for="location" class="form-label">Type de dégat</label>
                {{ form_widget(form.type_degat, {'attr': {'class': 'form-control', 'id': 'type_degat'}}) }}
                                {% if form_errors(form.type_degat) %}
                       <div class="alert alert-danger">
                           {{ form_errors(form.type_degat) }}
                       </div>
            {% endif %}
                                       <div class="col-12">
                <label for="location" class="form-label">Description des dégats</label>
               {{ form_widget(form.description_degat, {'attr': {'class': 'form-control', 'id': 'description_degat', 'rows':10}}) }}

                                {% if form_errors(form.description_degat) %}
                       <div class="alert alert-danger">
                           {{ form_errors(form.description_degat) }}
                       </div>
            {% endif %}

    

    <div class="col-12">

    <button class="btn btn-primary w-100">{{ button_label|default('Save') }}</button>
    </div>



{{ form_end(form) }}
</div>

</div>
      </section>

    </div>
  </main><!-- End #main -->



</body>

