
 <div class="container">
<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4" style="margin-top: 50px;">
                <div class="row">
                    <div class="col-md-5">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Demandes assurance {{ contrat_vehicule.id }}</h5>
                                <table class="table table-striped">

                                    <thead>

 <tr>
                <th>Id</th>
                <td>{{ vehicleRequest.id}}</td>

            </tr>
            <tr>
                <th>Date demande</th>
                <td>{{ vehicleRequest.dateRequest ? vehicleRequest.dateRequest|date('Y-m-d') : '' }}</td>

            </tr>
            <tr>
                <th>Type assurance</th>
                <td>{{ vehicleRequest.typeInsurance }}</td>
            </tr>

            <tr>
                <th>Forme habitst</th>
                <td>{{ vehicleRequest.Marque }}</td>
            </tr>
            <tr>
                <th>Nb piéces</th>
                <td>{{ vehicleRequest.Modele }}</td>
            </tr>
               <tr>
                            <th>Adresse</th>
                <td>{{ vehicleRequest.FabYear ? vehicleRequest.FabYear|date('Y-m-d') : '' }}</td>
                        </tr>
                           <tr>
                                        <th>Valeur</th>
                <td>{{ vehicleRequest.serialNumber }}</td>
                                    </tr>
                                        <tr>
                              <th>Surface</th>
                <td>{{ vehicleRequest.matriculNumber }}</td>
                                 </tr>
                    <tr>
                                                                                               <th>Surface</th>
                                   <td>{{ vehicleRequest.vehiclePrice }}</td>
                                                                                           </tr>
         </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <h5 class="card-title">Contrat</h5>


{{ form_start(form, {'attr': {'class': 'row g-3 needs-validation', 'novalidate': 'novalidate', 'style': 'max-width: 400px;'}}) }}
{% if form_errors(form) %}

            <div class="alert alert-danger">
                <ul>
                    {% for error in form_errors(form) %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}



    <div class="col-6">
            <label for="Date_debut" class="form-label">Date debut du contrat</label>
            {{ form_widget(form.Date_debut, {'attr': {'class': 'form-control', 'id': 'Date_debut'}}) }}
            {% if form_errors(form.Date_debut) %}
                       <div class="alert alert-danger">
                           {{ form_errors(form.Date_debut) }}
                       </div>
            {% endif %}
        </div>
        <div class="col-6">
                <label for="Date_fin" class="form-label">Date fin du contrat</label>
                {{ form_widget(form.Date_fin, {'attr': {'class': 'form-control', 'id': 'Modele'}}) }}
                {% if form_errors(form.Date_fin) %}
                                                        <div class="alert alert-danger">
                                                            {{ form_errors(form.Date_fin) }}
                                                        </div>
                                                    {% endif %}
            </div>
     <div class="col-12">
             <label for="Description" class="form-label">Détail du contrat</label>
             {{ form_widget(form.Description, {'attr': {'class': 'form-control ', 'id': 'Description'}}) }}
             {% if form_errors(form.Description) %}
                                                     <div class="alert alert-danger">
                                                         {{ form_errors(form.Description) }}
                                                     </div>
                                                 {% endif %}
         </div>
         <div class="col-12">
                              <label for="Prix" class="form-label">Prix du contrat</label>
                              {{ form_widget(form.Prix, {'attr': {'class': 'form-control', 'id': 'MatriculeAgent'}}) }}
                              {% if form_errors(form.Prix) %}
                                                                      <div class="alert alert-danger">
                                                                          {{ form_errors(form.Prix) }}
                                                                      </div>
                                                                  {% endif %}
                          </div>
    <div class="col-12">
            <label for="MatriculeAgent" class="form-label">Matricule de l'agent</label>
            {{ form_widget(form.MatriculeAgent, {'attr': {'class': 'form-control', 'id': 'MatriculeAgent'}}) }}
            {% if form_errors(form.MatriculeAgent) %}
                                                    <div class="alert alert-danger">
                                                        {{ form_errors(form.MatriculeAgent) }}
                                                    </div>
                                                {% endif %}
        </div>



    <div class="col-12">

    <button class="btn btn-primary w-100">{{ button_label|default('Save') }}</button>
    </div>
        <div class="col-12">
    <a href="{{ path('app_contrat_vehicule_index') }}" class="btn btn-primary w-100">back to list</a>

    </div>


{{ form_end(form) }}
</div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>
<script src="https://cdn.tiny.cloud/1/ub6o7cjftjfjbqyaxyfe4htncw5a624e8yh2p2b46s55pcd0/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '.tinymce-editor',
        height: 300, // Hauteur de l'éditeur
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
        ],
        toolbar: 'undo redo | formatselect | ' +
            'bold italic backcolor | alignleft aligncenter ' +
            'alignright alignjustify | bullist numlist outdent indent | ' +
            'removeformat | help',
        content_css: '//www.tiny.cloud/css/codepen.min.css'
    });
</script>
